VITE_SUPABASE_URL=https://naqinvrergiatkbxhapt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1-QsUdjetCUetrNdcImtSA_ptE6aOqX

# IMPORTANT FOR PRODUCTION:
# Set this to your deployed backend URL.
# If testing locally with the backend, use http://localhost:5000
VITE_API_URL=http://localhost:5000
